/*** Global ***/

body {
  font-family: 'Barlow', sans-serif;
  color: #818181;
}

a,
a:visited {
  color: #333c45;

}

a:hover {
  color: #fff02a;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.alignright {
  float:right;
  margin-left: 2rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.margin110 { margin-top: 110px; margin-bottom: 110px; }
.margintop110 { margin-top: 110px; }
.marginbottom110 { margin-bottom: 110px; }
.margin40 { margin-top: 40px; margin-bottom: 40px; }
.margintop40 { margin-top: 40px; }
.marginbottom40 { margin-bottom: 40px; }
.padding80 { padding-top: 80px; padding-bottom: 80px; }
.paddingtop80 { padding-top: 80px; }
.paddingbottom80 { padding-bottom: 80px; }
.dark_blue { background-color: #333c45; }
.dark_grey { background-color: #b2b5b7; }
.pale_grey { background-color: #f2f2f2; }
.darkblue_color { color: #333c45; }
.white_color { color:#fff}
.yellow_color {color: #fff02a;}

.grey-hr {
  color: #b2b5b7;
}

/*** Typography ***/

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-family: 'Barlow';
}

h1 {
	font-size: 40px;
	line-height: 1.5;
}

b, strong {
	font-weight: 400;
	font-family: 'Barlow';
}

h2 {
  position: relative;
  margin-bottom: 2rem;
}

.nubbin {
  text-align: center;
}

.home h2:after,
.nubbin:after {
  position: absolute;
  content: '';
  width: 2%;
  height: 2px;
  border-bottom: 2px solid #b2b5b7;
  bottom: -1rem;
  left: calc(50% - 1%);
}

h2.no-border:after {
  border: none;
}

.h2-white {
  color: #fff;
}

.h2-yellow {
  color: #fff02a;
}

.h2-black {}

/*** Navigation ***/

.menu-toggle {
  display: none;
}

.main-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav li {}

.main-nav li a {
  font-family: 'Barlow', sans-serif;
  color: #333c45;
  padding: 0 1rem;
  font-weight: 600;
  text-transform: uppercase;
  height: 80px;
  display: flex;
  align-items: center;
}

.main-nav li .sub-menu {
  display: none;
  list-style-type: none;
  position: absolute;
}

.main-nav .solutions-menu .sub-menu-overlay,
.main-nav .services-menu .sub-menu-overlay,
.main-nav .about-menu .sub-menu-overlay {
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: #333c4580;
  left: 0;
  top: 111px;
  display: none;
}

.main-nav .solutions-menu .sub-menu-container,
.main-nav .services-menu .sub-menu-container {
  background-color: #333c45;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.main-nav .about-menu .sub-menu-container {
  background-color: #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.main-nav .solutions-menu .sub-menu,
.main-nav .services-menu .sub-menu,
.main-nav .about-menu .sub-menu {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b5b7;
}

.main-nav .services-menu .sub-menu {
  justify-content: left;
}

.main-nav .services-menu .sub-menu li {
  width: 25%;
}

.main-nav .solutions-menu .sub-menu li a,
.main-nav .services-menu .sub-menu li a {
  color: #fff;
}

.main-nav .solutions-menu .sub-menu .icon,
.main-nav .services-menu .sub-menu .icon {
  position: relative;
  display: flex;
  padding: 0 15px 30px;
}

.main-nav .solutions-menu .sub-menu .icon:before,
.main-nav .services-menu .sub-menu .icon:before {
  content: '';
  position: absolute;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  background-repeat: no-repeat;
}

.main-nav .solutions-menu .sub-menu .icon.finance:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/solutions-finance.png);
}

.main-nav .solutions-menu .sub-menu .icon.sales:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/solutions-sales.png);
}

.main-nav .solutions-menu .sub-menu .icon.supply-chain:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/solutions-supply_chain.png);
}

.main-nav .solutions-menu .sub-menu .icon.workforce:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/solutions-workforce.png);
}

.main-nav .solutions-menu .sub-menu .icon.apps:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/solutions-apps.png);
}

.main-nav .services-menu .sub-menu .icon.consultancy:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/services-consultancy.png);
}

.main-nav .services-menu .sub-menu .icon.managed:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/services-managed_service.png);
}

.main-nav .services-menu .sub-menu .icon.training:before {
  background-image: url(/wp-content/themes/vuealta/assets/img/services-training.png);
}

.main-nav .solutions-menu .sub-menu .icon a,
.main-nav .services-menu .sub-menu .icon a {
  margin-top: 80px;
  font-weight: 400;
  text-align: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  text-transform: initial;
}

.main-nav .solutions-menu .sub-menu .icon a span, 
.main-nav .services-menu .sub-menu .icon a {
  font-weight: 600;
  display: block;
  font-size: 18px;
}

.main-nav .solutions-menu .sub-menu .overview,
.main-nav .services-menu .sub-menu .overview {
  position: absolute;
  color: #b2b5b7;
  bottom: -40px;
  right: 0;
}

.main-nav .solutions-menu .sub-menu .overview a,
.main-nav .services-menu .sub-menu .overview a {
  height: auto;
  justify-content: flex-end;
}

/*** BUTTONS ***/
.btn {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #333c45;
  text-transform: uppercase;
  padding: 5px 24px 5px 0;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 0;
  line-height: 1.2;
  text-decoration: none;
  z-index: 1;
  vertical-align: middle;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.btn > span { 
  position: relative; 
  top: 1px; 
}

.btn.btn-border.font-white > span {
	transition: color .4s ease;
}

.btn .arrows {
  width: 4px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 5px;
  margin-top: 4px;
}

.btn .arrows .arrow {
  width: 4px;
  height: 7px;
  position: absolute;
  transition: opacity .4s ease-out, transform .4s ease-out;
}

.btn .arrows .arrow.hover {
  opacity: 0;
  transform: translateX(-15px) scaleY(0);
}

.btn .arrows .arrow.default,
.btn:hover .arrows .arrow.hover {
	opacity: 1;
	transform: translateX(0) scaleY(1);
}

.btn:hover .arrows .arrow.default {
	opacity: 0;
	transform: translateX(15px) scaleY(0);
}

.btn .arrows .arrow svg {
  top: -4px;
  position: relative;
  fill: #333c45;
}

.btn.btn-border {
  padding: 21px 54px 21px 30px;
  box-shadow: 0px 0px 0px 1px #fff02a;
  overflow: hidden;
}

.btn.btn-solid { 
  background-color: #fff02a; 
}

.btn.btn-padding { 
  padding: 21px 54px 21px 30px; 
}

.btn.btn-border .arrows,
.btn.btn-solid .arrows,
.btn.btn-padding .arrows {
	top: 21px;
	right: 30px;
}
.btn.btn-border.border-grey {
  padding: 21px 54px 21px 30px;
  box-shadow: 0px 0px 0px 1px rgba(178,181,183,0.3);
}

.btn.font-white { color: #FFF; }

.btn.font-white .arrows .arrow svg { fill: #FFF; }

.btn.btn-border::before {
	content: '';
	width: 110%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -5%;
	background-color: #fff02a;
    transform: skewX(-15deg) scaleX(0);
    transform-origin: right;
    transition: transform .4s ease-out;
}

.btn.btn-solid::before {
  background-color: #FFF;
}

.btn.btn-border:hover::before {
  transform: skewX(-15deg) scaleX(1);
  transform-origin: left;
}

.btn.btn-border.border-grey::before { 
  background-color: #b2b5b7;
}

.btn.btn-border.font-white:hover { 
  color: #333c45;
}

.btn.btn-border.font-white .arrows .arrow.hover svg { 
  fill: #333c45;
}

.btn.btn-border.btn-small { 
  padding: 17px 44px 17px 30px;
}

.btn.btn-border.btn-small .arrows { 
  top: 17px;
}

.group_buttons > a,
.group_buttons > button {
	margin-right: 20px;
}

.group_buttons > a:last-child,
.group_buttons > button:last-child {
	margin-right: 0;
}

/*** Forms ***/

input,
textarea {
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b2b5b7;
  margin-bottom: 1rem;
  width: 100%;
}



input:focus,
input:active,
textarea:focus,
textarea:active {
  border-color: #fff02a;
  outline: none;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.captcha {
  font-size: 12px;
}

.captcha a {
  border-bottom: 2px solid #fff02a;
}
/*** Header ***/

.site-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  transition: background-color .5s ease;
  top: 0;
  display: flex;
  align-items: center;
}

.content {
  margin-top: 80px;
}

.admin-bar .site-header {
  top:32px;
}

.home .content {
  margin-top: 0;
}

.home .site-header {
  background-color: transparent;
}

.home .site-header.scroll,
.home .site-header.menu-active {
  background-color: #fff;
}

.site-title {
  line-height: 1;
  font-size: initial;
}

.site-header .btn {
  margin-bottom: 0;
}

/*** Blocks ***/

/*** Home Hero ***/

.home-hero {
  height: 100vh;
  min-height: 763px;
  display: flex;
  align-items: center;
}

.fullsection_pattern {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
}

.pattern-plus {
	background-image: url(/wp-content/themes/vuealta/assets/img/pattern-plus.png);
	background-size: 109px 111px;
	background-position: top center;
}

.home-hero .hero-content-inner {
  position: relative;
}

.home-hero .hero-title {
  margin-bottom: 20px;
}

.labels_awards img {
	width: auto;
	height: 100px;
	float: left;
	margin-right: 18px;
}
.labels_awards img:last-child { 
  margin-right: 0; 
}

.home-hero .labels_awards {
  margin-top: 30px;
  display: inline-block;
}

.home-hero .layers_wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.home-hero .system_layers {
  right: 0;
  width: 40%;
  height: 560px;
  margin-top: -240px;
  top: 50%;
  position: absolute;
  z-index: 1;
}

.home-hero .layer {
  position: absolute;
}

.home-hero .top_layer {
  width: 559px;
  z-index: 2;
}

.home-hero .middle_layer {
  width: 559px;
  top: 126px;
  z-index: 1;
}

.home-hero .bottom_layer {
  width: 609px;
  top: 219px;
  z-index: 0;
}

.hero_home_triangle {
  width: 50%;
  left: 56%;
  position: absolute;
  bottom: 0;
  height: calc(100% + 23%);
}

.hero_home_triangle img {
  max-width: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.bg_dark_shape {
  width: 100%;
  height: 100%;
  background-color: #465364;
  position: absolute;
  transform: skewX(-23deg);
  left: 265px;
}

/*** Home - About ***/

.home-about .about-title {
  color: #333c45;
  font-size: 24px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 2rem;
}

.home-about .about-text {
  color:#818181;
  margin-bottom: 2rem;
}

.home-about .logo-row {
  margin-bottom: 2rem;
}

/*** Home - Solutions ***/

.home-solutions {
  background-color:#333c45;
  color: #fff;
  background-image: url(/wp-content/themes/vuealta/assets/img/pattern-triangles.png);
  background-size: auto 599px;
  background-position: top center;
}

.home-solutions .solutions-text {
  color:#818181;
}

.home-solutions .solutions-text strong {
  font-size: 24px;
  color: #fff;
}

.home-solutions .solutions-container {
  font-family: 'Barlow', sans-serif;
  margin-bottom: 4rem;
  font-size: 14px;
}

.home-solutions .solutions-container a {
  color:#fff;
}

.home-solutions .solutions-container span {
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

.home-solutions .solutions-container:hover {
  cursor: pointer;
}

.home-solutions .solutions-container:hover span {
  color: #fff02a;
}

.solutions-container .feat_icon {
	height: 50px;
	margin-bottom: 30px;
	position: relative;
}
.solutions-container .feat_icon img {
	width: auto;
	height: 100%;
	display: inline-block;
	transform: scale(1);
	transition: transform .2s ease-out;
}
.solutions-container .feat_title {
	font-family: 'Barlow';
	font-size: 16px;
	color: #FFF;
	position: relative;
	line-height: 1.2;
	transition: color .2s ease;
}
.solutions-container .feat_title span {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-family: 'Barlow';
  margin-bottom: 10px;
  color: #FFF;
  font-weight: 600;
}
.solutions-container .hover_triangle {
	fill: #444c54;
	width: 85px;
	height: 91px;
	position: absolute;
	left: 50%;
	margin-top: -19px;
	margin-left: -60px;
	z-index: 0;
	pointer-events: none;
	transform: skew(22deg, 16deg) scaleX(0) scale(0.8);
	transition: transform .2s ease-out;
}

.solutions-container a:hover .hover_triangle {
	transform: skew(0deg, 0deg) scaleX(1) scale(1);
}
.solutions-container a:hover .feat_icon img {
	transform: scale(1.05);
}
.solutions-container a:hover .feat_title { color: #fff02a; }

/*** Offset Text Image ***/

.offset-text-image {
  margin-top: 8rem;
  background-color: #f2f2f2;
}

.offset-text-image .offset-text {
  background-color: #fff;
  margin-top: -8rem;
  color: #818181;
  padding: 2rem 4rem;
}

.offset-text-image .offset-text h3 {
  color: #333c45;
}

/*** Text Image ***/

.text-image {
  color: #818181;
}

.text-image h3 {
  color:  #333c45;
}

/*** Testimonials ***/

.testimonial-container {
  display: none;
}

.testimonial-container.active {
  display: block;
}

.logo {
  display: inline-flex;
  margin-bottom: 2rem;
}

.logo img {
  filter: grayscale(100%);
}

.logo.active img {
  filter: grayscale(0%);
}

/*** Download Banner ***/

.download-banner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  color: #fff;
}

/*** Text ***/

.big-text {
  color: #333c45;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
}

/*** Text & Large Image ***/

.break {
  width: 50vw;
  right: 0;
  position: absolute;
}

.break-left {
  right: inherit;
  left: 0;
}

/*** Hero Solutions ***/

.hero-solutions {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url(/wp-content/themes/vuealta/assets/img/pattern-triangles.png);
  background-size: auto 599px;
  background-position: top center;
  background-color: #333c45;
}

.hero-solutions .hero-subtitle {
  font-size: 24px;
  color:#b2b5b7;
  font-weight: 600;
  margin-bottom: 2rem;
}

/*** Solutions Block ***/

.solutions-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #465364;
}

.solutions-container {
  margin-bottom: 2rem;
}

.solutions-title {
  color: #fff;
  font-size: 18px
}

.solutions-title span {
  display: block;
  font-weight: 600;
  font-size: 20px;
}

.solutions-link,
.solutions-link:visited {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

/*** Solutions Single ***/

.solution-hero {
  background-image: url(/wp-content/themes/vuealta/assets/img/pattern-triangles.png);
  background-size: auto 599px;
  background-position: top center;
  background-color: #333c45;
}

.above-title {
  color:#fff02a;
  text-transform: uppercase;
  font-weight: 600;
}

.solution-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
}

.solution-hero .subtitle {
  color: #b2b5b7;
}

.feature-tick-list {
  list-style-type: none;
}

.feature-tick-list li {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.feature-tick-list li::before {
  content: "\2713";  /* Add content: \003e is the CSS Code/unicode for a 'greater than' arrow */
  color:  #fff02a;/* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.num-block-list {
  list-style-type: decimal-leading-zero;
}

.num-block-list li a {
  color: #fff;
}

.num-block {
  display: none;
}

.num-block.active {
  display: flex;
}

/*** Services ***/

.support-approach {
  background-image:  url('/wp-content/themes/vuealta/assets/img/vuealta-v-bg.png');
  background-position-y: bottom;
  background-position-x: -250px;
  background-repeat: no-repeat
}

.step {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.step.bg-num {
  background-repeat: no-repeat;
  background-position: top center
}

.step.bg-num-0 {
  background-image: url('/wp-content/themes/vuealta/assets/img/vuealta-01-bg.png');
}

.step.bg-num-1 {
  background-image: url('/wp-content/themes/vuealta/assets/img/vuealta-02-bg.png');
}

.step.bg-num-2 {
  background-image: url('/wp-content/themes/vuealta/assets/img/vuealta-03-bg.png');
}

.step.bg-num-3 {
  background-image: url('/wp-content/themes/vuealta/assets/img/vuealta-04-bg.png');
}

.line-list {
  list-style-type: none;
}

.line-list  li::before {
  content: "\2014";  /* Add content: \003e is the CSS Code/unicode for a 'greater than' arrow */
  color: #b2b5b7 ;/* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/*** Contact ***/

.subtitle {
  font-size: 24px;
  font-weight: 600;
}


.locations-box {
  background-image: url('/wp-content/themes/vuealta/assets/img/contact_all_locations.png');
  background-size: cover;
  padding: 8rem;
}
/*** Footer ***/

.site-footer {
  padding-top: 4rem;
  padding-bottom:4rem;
  background-color: #333c45;
  color: #b2b5b7
}

.site-footer h2 {
  font-size: 40px;
  margin-bottom: 2rem;
  color: #b2b5b7;
}

.site-footer h2:after {
  border: none;
}

.site-footer h2 span {
  display: block;
  color: #fff;
}

.site-footer h3{
  color: #fff;
}

.site-footer .social,
.site-footer .terms {
  font-weight: 600;
}

.solutions-nav {
  margin-top: 1rem;
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}

.solutions-nav li a {
  color: #b2b5b7;
  font-weight: 600;
  margin-bottom: .5rem;
}

/*** Mobile ***/
@media (max-width: 450px) {
	.layers_wrapper { height: 750px; }
	.system_layers {
		width: 100%;
		transform: scale(0.87);
	}
	.hero_home_triangle {
		height: 800px;
		left: 19%;
    }
}

@media (max-width: 767px) {
  .site-header {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 70px;
    padding: 0;
  }
  
  .site-header .navigation {
    display: none;
  }
  
  .margin110 { 
    margin-top: 80px; 
    margin-bottom: 80px; 
  }
  
  .margintop110 { 
    margin-top: 80px; 
  }
	
  .marginbottom110 { 
    margin-bottom: 80px;
  }
  
  .fullwidth_mob { 
    width: 100%;
  }
  .group_buttons > a,
  .group_buttons > button {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .group_buttons > a:last-child,
  .group_buttons > button:last-child {
    margin-bottom: 0;
  }
  .btn.btn-padding { 
    padding-left: 0; 
  }
  
  .labels_awards {
    padding-left: 15px;
  }
  
  .labels_awards img { 
    height: 86px; 
  }
  
  .home-hero .layers_wrapper {
    top: auto;
    height: 800px;
    display: none;
  }
	
  .home-hero .system_layers {
    width: 72%;
    margin-top: 155px;
    top: auto;
  }
  
  .home-hero  .hero_home_triangle {
    width: 100%;
  }
  
  .offset-text-image {
    margin-top: 2rem;
  }
  
  .offset-text-image .offset-text {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  
  .home-hero .hero-content {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .home-hero .hero_content p { 
    padding-right: 30px; 
  }
}

@media (min-width: 1200px) {
  .home-hero .inner_content { 
    position: relative; 
  }
  
  .home-hero .labels_awards {
      position: absolute;
      right: 0;
      bottom: -44px;
  }
}
